button {
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    transition-property: color, background-color, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    padding: 0 8px;
    font-size: 0.875rem;
    line-height: 36px;
    font-weight: 500;
    color: var(--grey-medium-dark);
    border-radius: 4px;
    background-color: transparent;
    &:hover {
        background-color: var(--grey-super-light);
    }
    &.blue {
        color: var(--blue);
        &:hover {
            background-color: var(--blue-light);
            color: var(--blue-shaded);
        }
    }
    &.selected {
        background-color: var(--blue-medium);
        color: var(--blue);
        &:hover {
            background-color: var(--blue-medium-shaded);
        }
    }
    &.cta {
        background-color: var(--blue);
        color: var(--white);
        min-width: 80px;
        transform: scale(1);
        padding: 0 12px;
        &:hover {
            background-color: var(--blue-shaded);
            transform: scale(1.01);
        }
    }
}
