input,
select {
    outline: none;
    position: relative;
    background-color: transparent;
    border: none;
    border: 0;
    display: flex;
    transition-property: color, background-color, border;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    &.standard-input {
        background-color: transparent;
        font-size: 0.875rem;
        line-height: 1.5;
        padding: 6px 8px;
        border-radius: 4px;
        height: 36px;
        border-bottom: 2px solid transparent;
        &.error {
            border-bottom: 2px solid red;
            &:focus {
                border-bottom: 2px solid red;
            }
        }
        &:hover {
            background-color: var(--grey-light-2);
        }
        &:focus {
            border-bottom: 2px solid var(--blue);
            background-color: var(--grey-super-light);
            &:hover {
                background-color: var(--grey-super-light);
            }
        }
    }
}

.text-input-label {
    display: block;
    .text-input {
        position: relative;
        transition: border 0.5s ease;
        color: var(--grey-dark);
    }
    &.large {
        height: 34px;
        .text-input {
            font-size: 22px;
            line-height: 28px;
            padding-bottom: 4px;
            border-bottom: 1px solid var(--grey-light);
            &:focus {
                border-bottom: 2px solid var(--blue);
            }
            &.error {
                &:focus {
                    border-bottom: 2px solid red;
                }
            }
        }
    }
}

.checkbox-input {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 8px 0 28px;
    height: 36px;
    cursor: pointer;
    user-select: none;

    .checkmark {
        position: absolute;
        top: 8px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: var(--white);
        border: 2px solid var(--grey-medium-dark);
        border-radius: 2px;
        transition: all 0.5s ease;
        &:after {
            display: none;
            content: "";
            position: absolute;
            left: 4px;
            top: -1px;
            width: 8px;
            height: 14px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            background-color: var(--blue);
            border-color: var(--blue);
            &:after {
                display: block;
            }
        }
    }
    &:hover {
        input {
            & ~ .checkmark {
                border-color: var(--black);
                background-color: var(--grey-super-light);
            }
            &:checked ~ .checkmark {
                border-color: var(--blue-shaded);
                background-color: var(--blue-shaded);
            }
        }
    }
}

.select-input,
.time-select {
    position: relative;
    width: fit-content;
    button.dropdown {
        color: var(--grey-dark);
        font-weight: 400;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 4px;
        .dropdown-label {
            display: flex;
        }

        .dropdown-arrow {
            display: flex;
            margin-left: 12px;
            width: 20px;
        }
    }
    .select-options {
        display: none;
        position: absolute;
        white-space: nowrap;
        left: 0;
        top: 100%;
        overflow: auto;
        z-index: 3;
        background-color: var(--white);
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
            0 1px 18px 0 rgba(0, 0, 0, 0.12);
        padding: 8px 0;
        li {
            height: 36px;
            padding: 0 8px;
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            background-color: var(--white);
            transition: background-color 0.5s ease;
            cursor: pointer;
            &:hover {
                background-color: var(--grey-super-light);
            }
            &.selected {
                background-color: var(--blue-medium);
                &:hover {
                    background-color: var(--blue-medium-shaded);
                }
            }
        }
    }
    &.open {
        button.dropdown {
            background-color: var(--grey-light-2);
            .dropdown-arrow {
                transform: rotate(180deg);
            }
        }
        .select-options {
            display: block;
        }
    }
    &.dropdown-above {
        .select-options {
            top: unset;
            bottom: 100%;
        }
    }
}
